.btn {
    border: none;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-base {
    width: 180px;
}

.btn-big {
    width: 300px;
    height: 60px;
}

.btn-small {
    width: 120px;
}

.btn-blue {
    border: 1px solid blue;
    background-color: blue;
    color: #fff;
}

.btn-blue:hover {
    background-color: rgba(0, 0, 255, 0.659);
}

.btn-gray {
    border: 1px solid gray;
    background-color: gray;
    color: #fff;
}

.btn-gray:hover {
    background-color: rgba(128, 128, 128, 0.713);
}

.btn-green {
    border: 1px solid green;
    background-color: green;
    color: #fff;
}

.btn-green:hover {
    background-color: rgba(0, 128, 0, 0.696);
}

.btn-orange {
    border: 1px solid orange;
    background-color: orange;
    color: #fff;
}

.btn-orange:hover {
    background-color: rgba(255, 166, 0, 0.688);
}

.btn-red {
    border: 1px solid red;
    background-color: red;
    color: #fff;
}

.btn-red:hover {
    background-color: rgba(255, 0, 0, 0.728);
}

.btn-sky {
    border: 1px solid skyblue;
    background-color: skyblue;
    color: #000;
}

.btn-sky:hover {
    background-color: rgba(135, 207, 235, 0.743);
}

.btn-white {
    border: 1px solid rgb(228, 224, 224);
    background-color: rgb(228, 224, 224);
    color: #000;
}

.btn-white:hover {
    background-color: rgba(255, 255, 255, 0.235);
}

.btn-dark {
    border: 1px solid black;
    background-color: black;
    color: #fff;
}

.btn-dark:hover {
    background-color: rgba(0, 0, 0, 0.543);
}

.btn-transparent {
    border: 1px solid transparent;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

.btn-transparent:hover {
    background-color: rgba(0, 0, 0, 0.158);
    background-color: rgba(0, 0, 0, 0.158);
}

.btn-outline {
    background-color: #fff;
}

.btn-border-red {
    border: 1px solid red;
}

.btn-border-red:hover {
    background-color: red;
    color: #fff;
}

.btn-border-green {
    border: 1px solid green;
}

.btn-border-green:hover {
    background-color: green;
    color: #fff;
}