*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    background-color: #F0F8FF;
}

button, select, input, textarea {
    font: inherit;
    outline: none;
}

ul, li {
    list-style: none;
}

p, ul, li, button, input, select, textarea,
body, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: inherit;
}