.userBlock {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.userTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #505050;
}

.userDesc {
    font-size: 18px;
}